<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/easy-ui-1.9.0/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easy-ui-1.9.0/themes/icon.css}">
    <title>登入</title>
    <script th:src="@{/easy-ui-1.9.0/jquery.min.js}"></script>
    <script th:src="@{/easy-ui-1.9.0/jquery.easyui.min.js}"></script>
    <script th:src="@{/easy-ui-1.9.0/locale/easyui-lang-zh_TW.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'center'">
    <div id="loginWindow" title="登入" style="width:500px;height:200px;padding:10px;">
        <form id="loginForm" th:action="@{/login}" th:method="post" style="height:55%;width:100%;">
            <div>
                <input th:id="email" th:name="email" style="width: 100%"/>
            </div>
            <div style="margin-top: 5px;">
                <input th:id="password" th:name="password" style="width: 100%"/>
            </div>
        </form>
        <div style="display:flex;justify-content:center;height:25%;color:red" th:text="${message}"/>
        <div style="display:flex;align-items:center;justify-content:space-between;height:20%;">
            <div>
                <a href="#">忘記密碼</a>&nbsp;|&nbsp;<a href="#">註冊</a>
            </div>
            <div>
                <a id="loginBtn" href="javascript:void(0);">登入</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>