<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::commonHead(~{::title},_,~{::script})">
    <title>忘記密碼 for reCAPTCHA v2 Checkbox</title>
    <script th:src="@{/js/resetPassword_02.js}"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'center'">
    <div id="window" style="width:500px;height:250px;padding:10px;">
        <form id="form" th:action="@{/reset}" method="post" style="height:55%;width:100%;">
            <div>
                <input th:id="email" th:name="email" style="width: 100%"/>
            </div>
            <div id="html_element" style="margin-top:10px;"></div>
        </form>
        <div style="display:flex;justify-content:center;height:25%;color:red;padding-top:20px;" th:text="${message}"/>
        <div style="display:flex;align-items:center;justify-content:space-between;height:20%;">
            <div>
                <a th:href="@{/login}">登入</a>&nbsp;|&nbsp;<a th:href="@{/register}">註冊</a>
            </div>
            <div>
                <a id="submitBtn" href="javascript:void(0);">重設密碼</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>