<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::commonHead(~{::title},_,~{::script})">
    <title>主頁</title>
    <link rel="stylesheet" th:href="@{/css/my_css.css}"/>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/easyui/datebox.extend.js}"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'west',collapsible:false" th:title="功能列" style="width: 200px;">
    <ul id="functionTree"></ul>
</div>
<div data-options="region:'center'"></div>
<div data-options="region:'south'" style="height: 50px;">
    <div style="display:flex;justify-content:center;align-items:center;height:100%;font-weight:bold;">
        Copyright © 2019-2019 RexYu
    </div>
</div>
<div style="display:none;">
    <form id="logoutForm" th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>