<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/easy-ui-1.9.0/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easy-ui-1.9.0/themes/icon.css}">
    <title>主頁</title>
    <script th:src="@{/easy-ui-1.9.0/jquery.min.js}"></script>
    <script th:src="@{/easy-ui-1.9.0/jquery.easyui.min.js}"></script>
    <script th:src="@{/easy-ui-1.9.0/locale/easyui-lang-zh_TW.js}"></script>
    <!--<script th:src="@{/js/main.js}"></script>-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            $('#functionTree').tree({
                data: [{
                    'id': 1,
                    'text': '收支表',
                    'iconCls': 'icon-edit',
                }, {
                    'id': 2,
                    'text': '圖表',
                    'iconCls': 'icon-large-chart',
                    'state': 'closed',
                    'children': [{
                        'id': 11,
                        'text': '圓餅圖'
                    }, {
                        'id': 12,
                        'text': '長條圖'
                    }]
                }, {
                    'id': 3,
                    'text': '設定',
                    'iconCls': 'icon-more',
                    'children': [{
                        'id': 13,
                        'text': '帳戶'
                    }, {
                        'id': 14,
                        'text': '項目'
                    }]
                }, {
                    'id': 4,
                    'text': '登出',
                    'iconCls': 'icon-clear'
                }],
                onClick: function (node) {
                    if (node.id == 13) {
                        let centerPanel = $('body').layout('panel', 'center');
                        $(centerPanel).panel('refresh', /*[[@{/account-book/content}]]*/);
                    }
                }
            });
        });
        /*]]>*/
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'west',collapsible:false" th:title="功能列" style="width: 200px;">
    <ul id="functionTree" class="easyui-tree">
        <li>
            <span>Folder</span>
            <ul>
                <li>
                    <span>Sub Folder 1</span>
                    <ul>
                        <li><span><a href="#">File 11</a></span></li>
                        <li><span>File 12</span></li>
                        <li><span>File 13</span></li>
                    </ul>
                </li>
                <li><span>File 2</span></li>
                <li><span>File 3</span></li>
            </ul>
        </li>
        <li><span>File21</span></li>
    </ul>
</div>
<div data-options="region:'center'">
    center
</div>
<div data-options="region:'south'" style="height: 50px;">
    <div style="display:flex;justify-content:center;align-items:center;height:100%;font-weight:bold;">
        Copyright © 2019-2019 RexYu
    </div>
</div>
</body>
</html>